*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom variables */
:root{
        --primary: black;
        --secondary: white;
        --alternative: red;
        --awesome: #E59BE9;
        --mainBoxShadow: 0 8px 20px 10px var(--alternative);
        --borderColor: #8644A2;
        --elementShadow: .2vw .3vw .2vw #FFEBB2;  
        --bgHeaderFooter: black;
}

@property --top-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

/* Navbar & footer */
:is(.navbar, footer){
    background-color: var(--bgHeaderFooter);
}

/* Navbar */
img[alt='logo']{
    width: 8rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
}

/* Navbar */
a{
    transition: all .5s;

    &:hover{
        transform: scale(1.2);
        text-decoration: underline;
    }
}

.nav-link{
    color: var(--secondary);
}

.nav-link a:active{
    color: var(--alternative);
}

/* Grid Layout */
:is(body) {
    display: grid;
    text-align: center;
}

/* Create 3 rows */
:is(body){
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* Footer */
